[run]
branch = True

[report]
include = edxval/*
omit =
    **/__init__.py
    **/tests/*
    **/settings.py
    **/migrations*

[html]
title = edx-val Python Test Coverage Report
directory = html_coverage
