name: Python CI

on:
  push:
    branches: [master]
  pull_request:
    branches:
    - '**'

jobs:
  run_tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: ['3.8']
        toxenv: [django22, django30, django31, django32, quality]

    steps:
    - uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pip
      run: pip install -r requirements/pip.txt

    - name: Install Dependencies
      run: pip install -r requirements/ci.txt

    - name: Run Tests
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: tox

    - name: Run Coverage
      if: matrix.python-version == '3.8' && matrix.toxenv=='django22'
      uses: codecov/codecov-action@v1
      with:
        flags: unittests
        fail_ci_if_error: true


  provider-verification:
    name: Pact Provider Verification
    runs-on: ubuntu-20.04
    needs: run_tests

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install pip
      run: pip install -r requirements/pip.txt

    - name: Install Dependencies
      run: |
        pip install -r requirements/ci.txt
        pip install -r requirements/test.txt

    - name: Verify Pacts
      run: |
        export PACT_BROKER_BASE_URL='https://edx.pactflow.io'
        export PACT_BROKER_TOKEN=${{ secrets.PACT_FLOW_ACCESS_TOKEN }}
        export PUBLISH_VERSION=`git rev-parse --short HEAD`
        export PUBLISH_TAGS=${{ github.head_ref }}
        export PUBLISH_VERIFICATION_RESULTS=true
        pytest edxval/pacts/verify_pact.py --ds=edxval.settings.pact
